.Surah-details-card {
  background: linear-gradient(45deg, #ebbd77, #56462e);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  .section-1 {
    margin-right: 14px;
    flex: 1;
    .surah-name {
      font-size: 25px;
      margin-top: 16px;
      margin-bottom: 5px;
    }
    .verse-count {
      opacity: 50%;
    }
  }
}
