@import "./var";
@import "./fontello.css";

@font-face {
  font-family: "iransans";
  src: url("./../font/IRANSansWeb(FaNum).ttf");
}

@font-face {
  font-family: "arab";
  src: url("./../font/Al\ Qalam\ Quran.ttf");
}

body {
  margin: 0;
  font-family: "iransans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: #121212;
  color: #ffeac9;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  a {
    text-decoration: none;
  }
}
#root,
.app {
  height: 100%;
}
a:-webkit-any-link {
  color: inherit;
}
button,
a {
  &:focus {
    outline: none;
  }
}
