.tile {
  height: 116px;
  background-color: rgba(255,234,201,.1);
  // opacity: 10%;
  border-radius: 3px;
  color:#FFEAC9;
  margin-top: 22px;
  &.col-12 {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &.col-6 {
    width: 47%;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    img {
      height: 70px;
    }
    &:nth-child(odd) {
      margin-right: 3%;
    }
    &:nth-child(even) {
      margin-left: 3%;
    }
  }
}
