@import "./../../assets/css/global";

.surah-item {
  display: flex;
  position: relative;
  margin-top: 30px;
  &:after {
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -15px;
    width: 100%;
    content: "";
    background-color: #ebbd77;
    opacity: 10%;
  }
  &__right {
    flex: 1;
  }
  &__left {
    background-image: url("./../../assets/img/star-icon.svg");
    background-repeat: no-repeat;
    background-position: left;
    width: 37px;
    text-align: center;
    align-self: center;
    font-size: 12px;
    line-height: 37px;
    height: 37px;
  }
  &__title {
    font-family: arab ;
    font-weight: lighter;
    font-size: 30px;
    color: #ffeac9;
  }
  &__description {
    font-family: "iransans";
    color: #ffeac9;
    font-size: 14px;
    opacity: 0.5;
  }
  &__verse{
      margin-right: 20px;
  }
  &--read {
    background-image: url("./../../assets/img/star-fill.svg");
    color: #56462e;
  }
}
